@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    On The Go...<br />
    P.O. Box 216247<br />
    Cleveland, Ohio 44120<br />
    <abbr title="Phone">P:</abbr>
    216.999.6688
</address>

<address>
    <strong>Customer Service:</strong>   <a href="mailto:Support@example.com">info@OntheGo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@OntheGo.com</a>
</address>

<div>
    @Html.ActionLink("Home", "Index")
</div>