@{
    ViewBag.Title = "On The Go...";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
 </div>

<div class="row">
    <div class="col-lg-12">
        <h2>We Want to Hear From You</h2>
        <p>
            You're time is valuable. Instead of spending countless hours pouring through reviews from random sites, hear directly from people like you...On The Go. 
        </p>
        <p><a class="reviewCreateLink" href="/Reviews/Create">Learn more &raquo;</a></p>
    </div>
    
</div>